.feedbackBody {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    justify-content: center;
}

/* Box styles */
.box {
    width: 500px;
}

/* Header styles */
.feedback-header {
    margin: 40px 0 0 25px;
}

.feedback-header .logo {
    width: 60px;
    height: 60px;
    margin: 40px 0 0 25px;
}

/* Main styles */
.feedback-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-main input {
    width: 200px;
    margin-bottom: 10px;
    padding: 2.5px 0 2.5px 0;
}

.feedback-main textarea {
    margin-top: 20px;
    width: 300px;
    margin-bottom: 20px;
}

.feedback-main button {
    width: 120px;
    border: none;
    padding: 12px 0 12px 0;
    border-radius: 7px;
    cursor: pointer;
}

/* Footer styles */
.feedback-footer {
    margin-left: 25px;
}

.feedback-footer .back-btn {
    text-decoration: none;
    color: black;
}

.feedbackInput {
    width: 200px;
    margin-bottom: 10px;
    padding: 2.5px 0 2.5px 0;
}

.feedbackTextBox {
    margin-top: 20px;
    width: 300px;
    margin-bottom: 20px;
}

.feedbackBackBtn {
    text-decoration: none;
}

.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}