/* Blå #65B7D6, Rosa #e6c1ca;*/

#forgotPasswordBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 43, 56);
    height: 100vh;
}

#backboxFP {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 2%;
    background-color: #e6c1ca;
    padding-bottom: 1%;
}

#email {
    background-color: #65B7D6;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    color: white;
    padding: 8px 12px 8px 12px;
}

#return {
    margin-right: 70%;
}

#returnbtn {
    background-color: #65B7D6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 14px 8px 14px;
}

#emailInput {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 150px;
}

#emailInput:focus {
    outline: none;
}

