/* Blå #65B7D6, Rosa #e6c1ca;*/

#forgotPasswordBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 43, 56);
    height: 100vh;
}

#backboxFP {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
    border-radius: 2%;
    background-color: #e6c1ca;
    margin-bottom: 15%;
}

#email {
    background-color: #65B7D6;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    height: 30px;
    color: white;
}
#return {
    margin-right: 70%;
}

#returnbtn {
    background-color: #65B7D6;
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;

}

#emailInput {
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 150px;
}

