body {
    display: flex;
    margin: auto;
    margin-top: 20%;
    align-items: center;
    font-family: sans-serif;
    max-width: 300px;
    max-height: 300px;

}

header {
    font-size: 38px;
    font-weight: 500;
    display: flex;
}



#inputDiv {
    border-color: black;
    background-color: transparent;
    width: 300px;
    height: 100px;
    font-size: 20px;
    
}

#email {
    border-color: black;
    background-color: transparent;
    font-size: 20px;
    width: 200px;
    height: 60px;
    transition-duration: 0.2s;
    text-align: center;

}

#email:hover {
    border-color: blue;
}

#bilde {

}

#return {
    border-color: black;
    background-color: transparent;
    font-size: 15px;

}